<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <title>Lender - Affordability Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:300,400'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="_assets/css/app.css">
</head>
<body translate="no">
    <webview id="halifaxWebview" src="https://www.halifax-intermediaries.co.uk/tools_and_calculators/mortgage_affordability_calculator/default.aspx" preload="./_assets/js/injector.js"></webview>
    <webview id="santanderWebview" preload="./_assets/js/inyector.js" src=""></webview>
    <webview id="natwestWebview" preload="./_assets/js/inyector.js" src=""></webview>
    <webview id="barclaysWebview" preload="./_assets/js/inyector.js" src=""></webview>
    <div id="app" class="site-canvas">
      <div class="header" v-bind:class="{ goBack: (lender.page !== 'dashboardView') }">
        <div class="back-button" v-on:click="goBack()"></div>
        Lender
        <div class="settings" v-on:click="lender.page = 'settingsView'">
          <i class="fa fa-cog"></i>
        </div>
        <a href="#" class="getResults" v-if="lender.page == 'clientView'" v-on:click="getResults()">
          Get Client Results
        </a>
      </div>
      <div class="dashboardView" v-if="lender.page == 'dashboardView'">
        <h3>Clients</h3>
        <ul class="clients overflow-height">
          <li v-for="client in clients" v-bind:data-id="client.id" v-on:click="launchClient(client)">
            {{client.name}}
          </li>
          <li v-if="!clients.length">No Clients Added</li>
          <div class="addClient" v-on:click="addClient()"></div>
        </ul>
      </div>
      <div class="clientView" v-if="lender.page == 'clientView'">
        <h3>{{clientView.name}}</h3>
        <div class="clientData overflow-height">
          <table>
            <tr>
              <td>How many adults on application?</td>
              <td><input name="numberOfAdults" type="text" v-model="clientView.data.numberOfAdults" /></td>
            </tr>
            <tr>
              <td>How many children in the household?</td>
              <td><input name="numberOfChildren" type="text" v-model="clientView.data.numberOfChildren"  /></td>
            </tr>
            <tr>
              <td>How long is the mortgage term?</td>
              <td><input name="termYears" type="text" v-model="clientView.data.termYears" /></td>
            </tr>
            <tr>
              <td>Loan amount</td>
              <td><input name="loanAmount" type="text" v-model="clientView.data.loanAmount" /></td>
            </tr>
            <tr>
              <td>s the mortgage on any of the following schemes : Help to Buy Equity Share, Help to Buy Mortgage Guarantee, Shared Equity or Shared Ownership?</td>
              <td>
                <select name="ddlhelptobuy" v-model="clientView.data.ddlhelptobuy">
                  <option value="No" selected>No</option>
                  <option value="Yes">Yes</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Gross basic salary</td>
              <td><input name="annualIncome1" type="text" v-model="clientView.data.annualIncome1" /></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="gettingResults" v-if="lender.page == 'gettingResults'">
        <h3>Fetching Results ...</h3>
        <ul>
          <li v-for="(value, key) in settings" :data-results="key" v-if="value.state">
            {{key}} <span> <i class="fa fa-circle-o-notch fa-spin"></i> </span>
          </li>
        </ul>
      </div>
      <div class="settingsView" v-if="lender.page == 'settingsView'">
        <h3>Settings</h3>
        <table>
          <tr v-for="(value, key) in settings">
            <td>{{key}}</td>
            <td>
              <section class="switch">
                <input type="checkbox" :id="key" :value="value.state" v-model="settings[key].state" />
                <label v-bind:for="key"></label>
              </section>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script src="_assets/js/arrive.min.js" charset="utf-8"></script>
    <script>window.$ = window.jQuery = require('./_assets/js/jquery.min.js');</script>
    <script src="https://unpkg.com/vue" charset="utf-8"></script>
    <script src="./_assets/js/app.js" charset="utf-8"></script>
</body>
</html>
